{% extends 'base.html' %}
{% block contenido %}
<h1>Lista de registro de notas</h1>
<table class="table">
    <thead>
      <tr>
        <th>DOCENTE</th>
        <th>CICLO</th>
        <th>UNIDAD DIDACTICA</th>
        <th>ESTADO</th>
      </tr>
    </thead>
    <tbody>
        {% for list in lists %}
            {% if list.state == 'pendiente'%}
                <tr class='danger'>
                    <td><a href='/academic_registro_notas_profesor/{{list.id}}/'>{{list.docente}}</a></td>
            {% else %}
                <tr class='success'>
                    <td>{{list.docente}}</td>
            {% endif %}
                <td>{{list.ciclo}}</td>
                <td>{{list.curso}}</td>
                <td>{{list.state}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div><a href='/academic_registro_notas_profesor/new'>Nuevo</a></div>
<div class="pagination">
    <span class="step-links">
        {% if lists.has_previous %}
            <a href="?page={{ lists.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ lists.number }} of {{ lists.paginator.num_pages }}.
        </span>

        {% if lists.has_next %}
            <a href="?page={{ lists.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}