{% extends 'base.html' %}
{% block encabezado %}{% endblock %}
{% block contenido %}
<h1>Crear registro de notas</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'academic_registro_notas_profesor_create' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="nota1">Docente:</label>
        <select name="academic_registro_notas_profesor_docente" id="academic_registro_notas_profesor_docente">
            <option value="{{ docente.id }}" selected="selected">{{docente}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="nota1">Ciclo:</label>
        <select name="academic_registro_notas_profesor_ciclo" id="academic_registro_notas_profesor_ciclo">
            <option value="" selected="selected"></option>
            {% for list in ciclos%}
                <option value="{{ list.id }}">{{list}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="nota1">Curso:</label>
        <select name="academic_registro_notas_profesor_ascps" id="academic_registro_notas_profesor_ascps">

        </select>
    </div>

    <input type="submit" value="Guardar"/>
</form>
{% endblock %}