{% extends 'base.html' %}
{% block contenido %}
<h1>Registro de nota {{academic_registro_notas_profesor.}}</h1>

<table class="table">
    <thead>
      <tr>
        <th>ALUMNO</th>
        <th>UNIDAD 1</th>
        <th>UNIDAD 2</th>
        <th>UNIDAD 3</th>
        <th>UNIDAD SUBSANATORIA</th>
      </tr>
    </thead>
    <tbody>
        {% for list in academic_registro_notas_profesor.academic_registo_matricula%}
            <tr>
                <td>{{list.alumno}} </td>
                {% if list.es_editable_nota1 %}
                    <td><a href='{% url "academic_registo_matricula_edit" list.id 1 %}' class="active">{{list.nota_1}}</a></td>
                {% else %}
                    <td>{{list.nota_1}}</td>
                {% endif %}
                {% if list.es_editable_nota2 %}
                    <td><a href='{% url "academic_registo_matricula_edit" list.id 2 %}' class="active">{{list.nota_2}}</a></td>
                {% else %}
                    <td>{{list.nota_2}}</td>
                {% endif %}
                {% if list.es_editable_nota3 %}
                    <td><a href='{% url "academic_registo_matricula_edit" list.id 3 %}' class="active">{{list.nota_3}}</a></td>
                {% else %}
                    <td>{{list.nota_3}}</td>
                {% endif %}
                {% if list.es_editable_notasubsa %}
                    <td><a href='{% url "academic_registo_matricula_edit" list.id 4 %}' class="active">{{list.nota_subsa}}</a></td>
                {% else %}
                    <td>{{list.nota_subsa}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if lists.has_previous %}
            <a href="?page={{ lists.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ lists.number }} of {{ lists.paginator.num_pages }}.
        </span>

        {% if lists.has_next %}
            <a href="?page={{ lists.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}