{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} 404 {% endblock %}

{% block encabezado %}
	<h1>Recetario :( </h1>
{% endblock %}

{% block contenido %}
  <h1>Lo sentimos no encontramos lo que estas buscando :( </h1>
{% endblock %}