{% load static %}
<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <title>San Jose de Oriol </title>
    <link rel='shortcut icon' href='{% static "img/icono.png" %}'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/academic.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!--<a class="navbar-brand" href="#"><img src="{% static "images/sanjose.png" %}" alt="image here" style="width:150px;height:10;"/></a>-->
                    <a class="navbar-brand" href='{% url "inicio" %}'><b>San de Jose oriol</b></a>

                </div>
                <ul class="nav navbar-nav">
                    <li><a href='{% url "academic_registro_notas_profesor" %}' class="active">Registro de notas</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href='{% url "ingresar" %}'><span class="glyphicon  glyphicon-user"></span> Entrar</a></li>
                    <li><a href='{% url "cerrar" %}'><span class="glyphicon glyphicon-log-in"></span> Cerrar sesion</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class='contenido'>
        {% block encabezado %}{% endblock %}
        {% block contenido %}{% endblock %}
    </section>

    <footer>
        <hr>
        <p>ODOOPERU&copy;2018</p>
    </footer>

</body>
    <script src='{% static "js/jquery-3.1.1.min.js" %}'></script>
    <script src='{% static "js/demo.js" %}'></script>
</html>