
{% block titulo %}Nuevo usuario{% endblock %}
{% block encabezado %}
	<h1>Registra un nuevo usuario</h1>
{% endblock %}
{% block contenido %}
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{formulario}}</table>
		<p><input type='submit' value='Registrar'/></p>
	</form>
{% endblock %}