{% extends 'base.html' %}
{% block contenido %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'academic_registo_matricula_update' academic_registro_matricula.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="nota1">Nota:</label>
        <input type="text" name="academic_registo_matricula_nota" placeholder="Nota" value="{{ nota}}" class="form-control"/>
        <input type="hidden" name="academic_registo_matricula_unidad" value="{{ unidad}}"/>
    </div>
    <div class="form-group">
         <label for="comment">Observacion:</label>
        <input type="textarea" name="academic_registo_matricula_obs" placeholder="Observacion" value="{{ nota_s }}" class="form-control" rows="5"/>
    </div>
    <input type="submit" value="Guardar"/>
</form>
{% endblock %}